@use "variables" as *;
body {
  overflow-x: hidden;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mainBgColor {
  background-color: #0c1e25;
  width: 100%;
}

.secondaryBgColor {
  background-color: $whiteColor;
  width: 100%;
}

.movies-container img {
  width: 300px;
  height: 450px;
  margin: 0 0 4px 15px;
  border-radius: 18px;
}

.mainColor {
  color: $whiteColor;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

#Nothing {
  display: none;
}

.secondaryColor {
  color: #ff206e;
  width: 90%;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.movies-container h3, .movies-container img {
  cursor: pointer;
  transition: .7s;
}

.movies-container img:hover {
  transform: scale(1.05);
}

#container {
  position: relative;
}

#hide {
  display: none;
}

#smaller-Text {
  width: 300px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: $blackColor;

  &:hover {
    color: rgb(1, 180, 228);
  }

  &:focus {
    color: rgb(1, 180, 228);
  }
}

#playIcon {
  position: absolute;
  bottom: 70px;
  left: 20px;
  visibility: visible;
  z-index: 100;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

#Exit1 {
  position: absolute;
  margin-left: 475px;
  margin-top: 67px;
  z-index: 999;
}

#Nothing {
  color: green;
}

#NoContainer {
  opacity: 0.35;
}

.DarkTheme {
  color: $whiteColor;
}

.LightThemeClose {
  color: #ff206e;
}

/*//Movie Detail*/
.movie-header {
  width: 100%;
  position: relative;
  z-index: 1;
  background-position: left calc((50vw - 170px) - 340px) top;
  background-size: cover;
  background-repeat: no-repeat;
}

.movie-detail {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(31.5, 31.5, 52.5, 1) calc((50vw - 170px) - 340px), rgba(31.5, 31.5, 52.5, 0.84) 30%, rgba(31.5, 31.5, 52.5, 0.84) 100%);

  & a {
    text-decoration: none;
    color: white;
  }
}

.movie-banner {
  padding: 30px 40px;
  display: flex;
  max-width: 1320px;
}

.poster-wrapper {
  border-width: 0px;
  min-width: 300px;
  width: 300px;
  height: 450px;
  overflow: hidden;
}

.poster {
  display: block;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  border-width: 0px;
  outline: none;
  border-radius: 8px;
}

.intro-wrapper {
  padding-top: 95px;
  padding-bottom: 85px;
  box-sizing: border-box;
  padding-left: 40px;

  & .intro-title {
    width: 100%;
    margin-bottom: 24px;

    & h2 {
      margin: 0;
      font-size: 2.5rem;
      font-weight: 700;

      & span {
        font-size: 2.5rem;
        font-weight: 400;
        opacity: 0.8;
        margin-left: 10px;
      }
    }

    & .fact {
      margin-top: 5px;

      & span + span {
        padding-left: 20px;
      }
    }

    & .release-date {
      font-size: 15px;
    }
  }

  & .actions {
    display: flex;
    width: 100%;
    margin-bottom: 10px;

    & .play-trailer {
      border: none;
      background: transparent;
      width: auto;
      height: auto;
      font-weight: 600;
      will-change: opacity;
      transition: linear .1s;
      display: flex;
      padding: 10px;
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }

      & img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }

  }

  .intro-overview {
    width: 100%;

    & .tagline {
      margin-bottom: 0;
      font-size: 1.1em;
      font-weight: 400;
      font-style: italic;
      opacity: 0.7;
    }

    & h3 {
      margin: 10px 0 8px;
    }

    & p {
      margin: 0;
    }
  }
}

.content-status {
  min-width: 260px;
  width: 260px;
  display: flex;
  flex-wrap: wrap;

  & .fact-left-col {
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;

    & .social-icon {
      display: flex;

      & img {
        width: 30px;
        height: 30px;
        margin-bottom: 30px;
      }

      & img + img {
        margin-left: 10px;
      }
    }

    & p {
      margin: 0 0 20px 0;
      font-size: 1em;

      & strong {
        display: block;
        font-weight: 600;
      }
    }
  }
}

.wrapper-content-left {
  display: flex;
  flex-direction: column;
  width: 1030px;
  min-width: 1030px;
  padding-right: 30px;
}

.panel {
  width: 100%;
  display: block;
  padding: 30px 0;
  border-top: 1px solid #d7d7d7;

  & h3 {
    font-weight: 600;
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 20px;
    display: block;
  }
}

.top-cast {

  & .cast {
    min-width: 140px;
    max-width: 145px;
    margin: 10px 4px 10px 10px;
    border: 1px solid rgba(227, 227, 227, 1);
    padding-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);

    & .cast-img {
      min-width: 138px;
      height: auto;
      display: block;

      & img {
        height: 100%;
        width: 100%;
        border-radius: 8px 8px 0 0;
      }
    }

    & p {
      padding: 10px 10px 0;
      font-size: 1em;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;

    }

    & .cast-character {
      font-size: 0.9em;
      padding: 0 10px;
    }
  }

  & .people {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
  }
}

.recommendation {
  display: flex;
  & .card {
    margin-right: 15px;
    width: 250px;
    cursor: pointer;
    & .image {
      width: 100%;
      height: 141px;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  }
  & .content{
    display: flex;
    color: black;
    align-items: center;
    justify-content: space-between;
    & p {
      font-weight: 400;
      font-size: 1em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      padding-right: 20px;
      padding-left: 5px;
      width: 50%;
      margin: 5px 0;
    }
    & span{
      font-size: 0.9em;
      display: flex;
      align-items: flex-end;
    }
    & img{
      width: 20px;
      margin-right: 3px;
    }
  }
}